<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Winkelmandje</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header>
    <h1>Huurplatform</h1>
    <h3>Jouw Winkelmandje</h3>
</header>

<div class="container">
    <ul>
        <li th:each="item : ${cart.items}">
            <span th:text="${item.product.name}">Productnaam</span> -
            <span th:text="${item.product.price}">Prijs</span> -
            <span th:text="${item.quantity}">Hoeveelheid</span>
            <a th:href="@{/cart/remove/{productId}(productId=${item.product.id})}">Verwijder</a>
        </li>
    </ul>

    <h4>Totaalprijs: € <span th:text="${totalPrice}">0</span> per dag.</h4>

    <a href="/catalog">Terug naar de catalogus</a><br>
    <a href="/home">Terug naar home pagina</a><br>

    <a href="/confirmation">Bevestigen en huren</a>
</div>

</body>
</html>
