<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Winkelmandje</title>
</head>
<body>
<h1>Jouw Winkelmandje</h1>

<div>
    <ul>
        <li th:each="product : ${cart.products}">
            <span th:text="${product.name}">Productnaam</span> -
            <span th:text="${product.price}">Prijs</span> -
            <a th:href="@{/cart/remove/{productId}(productId=${product.id})}">Verwijderen</a>
        </li>
    </ul>
</div>

<div>
    <a href="/catalog">Terug naar de catalogus</a><br>
    <a href="/home">Terug naar home pagina</a><br>
</div>

</body>
</html>
