<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Winkelmandje</title>
</head>
<body>
<h1>Jouw Winkelmandje</h1>

<div>
    <ul>
        <li th:each="item : ${cart.items}">
            <span th:text="${item.product.name}">Productnaam</span> -
            <span th:text="${item.product.price}">Prijs</span> -
            <span th:text="${item.quantity}">Hoeveelheid</span>
            <a th:href="@{/cart/remove/{productId}(productId=${item.product.id})}">Verwijder</a>
        </li>
    </ul>
</div>

<div>
    <h3>Totaalprijs: € <span th:text="${totalPrice}">0</span></h3>
</div>

<div>
    <a href="/catalog">Terug naar de catalogus</a><br>
    <a href="/home">Terug naar home pagina</a><br>
</div>

</body>
</html>
