<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header>
  <h1>Huurplatform</h1>
  <h3>Login</h3>
</header>

<div class="container">
  <form action="/login" method="post">
    <label for="username">Email:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <button type="submit">Inloggen</button>
  </form>

  <p style="color: red;" th:if="${error}" th:text="${error}"></p>
  <p>Als je nog geen account hebt, <a href="/register">klik hier om je te registreren</a>.</p>
</div>

</body>
</html>
